/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero {
  position: relative;
}
.hero-media {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.hero-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	min-height: 100%;
}

.hero-img:after {
  content: "";
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.hero .row {
	height: 500px;
}
@media screen and (min-width: 992px) {
	.hero .row{
		height: 700px
	}
  
}