/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero {
  position: relative;
}

.hero-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  position: relative;
}

.hero-img:after {
  content: "";
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 992px) {
  .hero-media {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .hero-img {
    min-height: 100%;
  }

  .hero .columns {
    display: flex;
    align-items: center;
  }

  .hero .valign {
    padding: 80px 0;
  }
}
