@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 1) + px;
  font-size: ($sizeValue / 16) + rem;
}

@mixin line-height($sizeValue: 1.6) {
  line-height: ($sizeValue * 1) + px;
  line-height: ($sizeValue / 16) + rem;
}
